<div class="container">
    <h1 class="title">
      Orders
    </h1>

  <mat-table [dataSource]="orders"  class="mat-elevation-z8 demo-table table">

    <ng-container matColumnDef="rowIndex">
      <mat-header-cell *matHeaderCellDef><strong>Index</strong></mat-header-cell>
      <mat-cell *matCellDef="let element;index as i;"> {{ i }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Order">
      <mat-header-cell *matHeaderCellDef><strong>Order</strong></mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
          <ul>
            <li  *ngFor="let el of element">
              <strong>Name:</strong> {{el.name}}<br>
              <strong>Price:</strong> {{el.price}}<br>
              <strong>Number of copies:</strong> {{el.noCopiesInBasket}}<br>
              <strong>Total price:</strong> {{el.priceOfNoCopies}}<br>
            </li>
          </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef><strong>Order Price</strong></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ calculateTotal(element) }} </mat-cell>
    </ng-container>

    <mat-header-row class="sticky-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button mat-raised-button class = "button" (click)="goBack()">Books</button>

</div>
  