<div class="container">
  <form [formGroup]="registerForm" class="form">
    <div class="text-center mb-3">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" placeholder="email" formControlName="email"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" type="password" id="password" formControlName="password"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input matInput type="password" id="repeatPassword" placeholder="repeatPassword" formControlName="repeatPassword"/>
      </mat-form-field>

      <mat-form-field appearance="outline" [hidden] = "NotAdmin()">
          <mat-label>Role</mat-label>
          <input matInput placeholder="role" formControlName="role"/>
      </mat-form-field>

      <button type="submit" id="submit" 
      class="btn btn-primary btn-block mb-3"
      mat-raised-button
      [disabled]="registerForm.invalid" (click)="register()"
      >{{buttonText}}</button>

      <div class="text-center">
        <p>Already a member? <a [routerLink]="" (click)="goToLogin()">Login</a></p>
      </div>
    
    </div>
  </form>    
</div>

<div class="alert alert-danger" [hidden]="!error">{{error}}</div>




 
