img {
    max-width: 300px;
    max-height: 400px;
}

#dimensions {
    padding-top: 20px;
    width: 350px;
    margin: 15px;
    height: 340px;
}

#textDetails {
    margin-left: 10px;
}

button {
    font-size: small;
}

#infoBook {
   height: 255px;
}

.aranjare {
  display:flex!important;
}

p {
    margin-right: 4px;
}
